[submodule "includes/vafpress-framework"]
	path = includes/vafpress-framework
	url = https://github.com/vafour/vafpress-framework.git
[submodule "assets/js/vendor/ImageScroll"]
	path = assets/js/vendor/ImageScroll
	url = https://github.com/pederan/Parallax-ImageScroll.git
[submodule "assets/js/vendor/actual"]
	path = assets/js/vendor/actual
	url = git@github.com:dreamerslab/jquery.actual.git
[submodule "assets/js/vendor/prefixfree"]
	path = assets/js/vendor/prefixfree
	url = git@github.com:LeaVerou/prefixfree.git
[submodule "assets/js/vendor/AnimatedHeader"]
	path = assets/js/vendor/AnimatedHeader
	url = git@github.com:codrops/AnimatedHeader.git
[submodule "assets/js/vendor/SlitSlider"]
	path = assets/js/vendor/SlitSlider
	url = git@github.com:codrops/SlitSlider.git
[submodule "assets/js/vendor/RWD-Table-Patterns"]
	path = assets/js/vendor/RWD-Table-Patterns
	url = git@github.com:nadangergeo/RWD-Table-Patterns.git
