[submodule "includes/vafpress-framework"]
	path = includes/vafpress-framework
	url = https://github.com/vafour/vafpress-framework.git
[submodule "assets/js/vendor/ImageScroll"]
	path = assets/js/vendor/ImageScroll
	url = https://github.com/pederan/Parallax-ImageScroll.git
[submodule "assets/js/vendor/actual"]
	path = assets/js/vendor/actual
	url = git@github.com:dreamerslab/jquery.actual.git
[submodule "assets/js/vendor/prefixfree"]
	path = assets/js/vendor/prefixfree
	url = git@github.com:LeaVerou/prefixfree.git
