@charset "utf-8";
@import "settings";
@import "_animation";


/**
 * ページトップに戻るボタン
 */
#goTop {
	position: fixed;
	right: 15px;
	bottom: 50px;
	display: none;
	color: #000;
	font-size: 48px;
	line-height: 1;
	opacity: 0.5;
	filter:alpha(opacity=50);
}


/**
 * セクションの見出し
 */
.section-heading {
	position: relative;
	margin-bottom: 30px;
	padding: 0 0 20px;
	h2, h3, p {
		margin: 0;
		text-align: center;
	}
	h2 {
		font-weight: 400;
		font-family: "Sorts Mill Goudy";
	}
	@media #{$small-only} {
		h2 {
			font-size: rem-calc(24);
		}
		h3, p {
			font-size: rem-calc(14);
		}
	}
	@media #{$medium-only} {
		h2 {
			font-size: rem-calc(35);
		}
		h3, p {
			font-size: rem-calc(25);
		}
	}
	&:after {
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -85px;
		width: 170px;
		height: 1px;
		background-color: #e4e4e4;
		content: " ";
	}
}


/**
 * サムネイル付きポストボックス
 * hoverで下からタイトルがアニメーションしてでてくる
 */
.post-figure {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	img {
		width: 100%;
		filter: grayscale(100%);
	}
	.figcaption {
		position: absolute;
		bottom: 0;
		padding: 15px;
		width: 100%;
		// background-color: #1c2730;
		background-color: rgba(26,64,77, 0.4);
		.post-title, p {
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: rem-calc(16);
		}
		p {
			color: #bbb;
			font-size: rem-calc(12);
		}
	}
	&:hover,
	&:active {
		img {
			filter: grayscale(0);
		}
	}
}
.no-touch {
	.post-figure {
		img {
			// transition: transform 0.4s;
			transition: all linear .2s;
		}
		.figcaption {
			top: auto;
			opacity: 0;
			transition: transform 0.4s, opacity 0.1s 0.3s;
			transform: translateY(100%);
		}
		&:hover,
		&:active {
			img {
				// transform: translateY(-50px);
				transform: scale(1.10);
			}
			.figcaption {
				opacity: 1;
				transition: transform 0.4s, opacity 0.1s;
				transform: translateY(0px);
			}
		}
	}
}


/**
 * グローバルメニュー
 */
$header-shrink: $topbar-height - 20px;
.f-topbar-fixed {
	padding-top: 0 !important;
}
.top-bar {
	.title-area a {
		padding-left: 5px;
		color: #fff;
		font-size: 100%;
		line-height: 48px;
		&:hover {
			color: #fff;
		}
	}
	.title-area img {
		width: 210px;
		height: 50px;
		vertical-align: bottom;
	}
}
.hide-for-medium-down {
	.top-bar {
		.title-area a {
			line-height: 60px;
		}
	}
}
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: $topbar-height;
	transition: height 0.3s;
}
.cbp-af-header .cbp-af-inner {
	margin: 0 auto;
}
.cbp-af-header h1,
.cbp-af-header nav {
	position: relative;
}
 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: $topbar-height;
}
.cbp-af-header h1 {
	float: left;
	margin: 0;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 4em;
}
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header .top-bar,
.cbp-af-header .top-bar a,
.cbp-af-header .top-bar .title-area a,
.cbp-af-header .top-bar .title-area a img,
.cbp-af-header .top-bar .has-dropdown > a:after,
.cbp-af-header .top-bar .top-bar-section > ul > .divider,
.cbp-af-header.cbp-af-header-shrink .top-bar .top-bar-section li.active:not(.has-form) a:not(.button)  {
	transition: all 0.3s;
}
.cbp-af-header .top-bar .top-bar-section li.active:not(.has-form) a:not(.button) {
	transition: all 0.28s;
}
.cbp-af-header.cbp-af-header-shrink,
.cbp-af-header.cbp-af-header-shrink .top-bar,
.show-for-medium-down .top-bar,
.show-for-medium-down .top-bar .name,
.cbp-af-header.cbp-af-header-shrink .top-bar .name,
.cbp-af-header.cbp-af-header-shrink .top-bar .top-bar-section > ul > .divider {
	height: $header-shrink;
}
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink .top-bar,
.show-for-medium-down .top-bar,
.cbp-af-header.cbp-af-header-shrink .top-bar .top-bar-section li:not(.has-form) a:not(.button),
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: $header-shrink;
}
.cbp-af-header.cbp-af-header-shrink .top-bar .title-area a {
	line-height: 48px;
}
.cbp-af-header.cbp-af-header-shrink .top-bar-section .has-dropdown > a:after {
	top: $header-shrink / 2;
}
.cbp-af-header .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	line-height: 3;
}
.cbp-af-header.cbp-af-header-shrink .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	line-height: 1.5;
}
.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}


/**
 * Off canvas
 */
.menu-icon {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	text-indent: 0;
	&:hover {
		color: #fff;
		span {
			box-shadow: none;
		}
	}
}
.right-off-canvas-toggle .fa {
	position: static;
	top: auto;
	left: auto;
	display: block;
	width: 100%;
	height: 100%;
	box-shadow: none;
	line-height: 50px;
}
.off-canvas-list {
	label {
		font-family: "Sorts Mill Goudy";
	}
}
.off-canvas-profile {
	margin: 20px 0 15px;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		display: block;
		margin-top: 5px;
		color: #fff;
		font-family: "Sorts Mill Goudy";
		span {
			display: block;
			color: #999;
			font-size: 12px;
		}
	}
	.profile-avatar {
		margin: 0 auto;
		padding: 7px;
		width: 128px;
		border: solid 1px #444;
		border-radius: 64px;
		.avatar {
			border-radius: 64px;
		}
	}
}


/**
 * パララックス
 */
.parallax {
	width: 100%;
	background-color:#fff;
	background-attachment: fixed;
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.profile {
	&.parallax {
		background-image: url('../images/main/main_visual_5890.jpg');
		background-position: 0 center;
		background-size: cover;
		transition: background-position 0 linear 0;
	}
}
/**
 * ヘッダーのパララックス
 */
.imageHolder {
	position: relative;
	background-color: #fff;
	img {
		z-index: -1;
	}
	.header-title {
		position: absolute;
		top: 60%;
		right: -32px;
		z-index: 10;
		width: 700px;
		.header-title-inner {
			margin: 0;
			padding: 10px 20px 0;
			background-color: rgba(0,0,0,0.4);
			color: #fff;
			font-weight: 400;
			font-family: "Sorts Mill Goudy";
		}
	}
}
.img-holder {
	position: relative;
	& > img {
		width: 100%;
	}
	.header-title {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		padding: 10px;
		width: 100%;
		background-color: rgba(0,0,0,0.4);
		.header-title-inner {
			margin: 0;
			width: 270px;
			color: #fff;
			font-weight: 400;
			font-size: rem-calc(18);
			font-family: "Sorts Mill Goudy";
		}
	}
}


/**
 * ウィジェット
 */
.widget-title {
	font-family: "Sorts Mill Goudy";
}
.footer-widget {
	margin-bottom: 30px;
}
/* Recent Posts Widget Extended */
.rpwe-ul {
	margin-bottom: 0;
	.rpwe-clearfix {
		border-color: #585858 !important;
		&:last-child{
			border:none;
		}
		& .rpwe-thumb {
			border-color: #585858 !important;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/* Simple Instagram */
.si_feed_widget {
	&, .si_feed_list {
		margin-right: -4px;
	}
	.si_feed_list {
		.si_item {
			padding: 0 4px 4px 0;
			a {
				display: block;
				padding: 4px;
				border: solid 1px #585858;
			}
		}
	}
}

form.contact-form.commentsblock {
	input, textarea {
		max-width: none;
		width: 100%;
	}
	textarea {
		resize: none;
	}
	.contact-submit, .pushbutton-wide {
		margin-bottom: 0 !important;
	}
	.pushbutton-wide {
		@include button();
	}
}
.textwidget {
	form.contact-form.commentsblock {
		textarea {
			height: 133px;
		}
		.pushbutton-wide {
			padding-top: 5px;
			padding-bottom: 3px;
		}
	}
}
