@charset "utf-8";
@import "_animation";

/**
 * ローディング
 * @source http://codepen.io/pupismyname/pen/rAxmB
 */
#loader-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background: #222;
	color: #fff;
	font-size: rem-calc(14);
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 0;
		box-sizing: border-box;
		margin: -75px 0 0 -75px;
		width: 150px;
		height: 150px;
		text-align: center;
		text-transform: uppercase;
		line-height: 150px;
		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			border: 5px solid #fff;
			border-radius: 100px;
			box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
			content: "\0020";
			opacity: 0;
		}
		&:after {
			z-index: 1;
			animation: gogoloader 2s ease 1s infinite;
		}
		&:before {
			z-index: 2;
			animation: gogoloader 2s ease 0s infinite;
		}
	}
}


/**
 * ページトップに戻るボタン
 */
#goTop {
	position: fixed;
	right: 15px;
	bottom: 50px;
	display: none;
	color: #000;
	font-size: 48px;
	line-height: 1;
	opacity: 0.5;
	filter:alpha(opacity=50);
}


/**
 * グローバルメニュー
 */
$header-shrink: $topbar-height - 20px;
.f-topbar-fixed {
	padding-top: 0 !important;
}
.top-bar {
	.title-area a {
		padding-left: 5px;
		color: #fff;
		font-size: 100%;
		line-height: 48px;
		&:hover {
			color: #fff;
		}
	}
	.title-area img {
		width: 210px;
		height: 50px;
		vertical-align: bottom;
	}
}
.hide-for-medium-down {
	.top-bar {
		.title-area a {
			line-height: 60px;
		}
	}
}
.menu-icon {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	&:hover {
		color: #fff;
	}
}
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: $topbar-height;
	transition: height 0.3s;
}
 
.cbp-af-header .cbp-af-inner {
	margin: 0 auto;
}
 
.cbp-af-header h1,
.cbp-af-header nav {
	position: relative;
}
 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: $topbar-height;
}
.cbp-af-header h1 {
	float: left;
	margin: 0;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 4em;
}
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header .top-bar,
.cbp-af-header .top-bar a,
.cbp-af-header .top-bar .has-dropdown > a:after,
.cbp-af-header.cbp-af-header-shrink .top-bar .title-area a,
.cbp-af-header .top-bar .top-bar-section > ul > .divider {
	transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink,
.cbp-af-header.cbp-af-header-shrink .top-bar,
.show-for-medium-down .top-bar,
.show-for-medium-down .top-bar .name,
.cbp-af-header.cbp-af-header-shrink .top-bar .name,
.cbp-af-header.cbp-af-header-shrink .top-bar .top-bar-section > ul > .divider {
	height: $header-shrink;
}
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink .top-bar,
.show-for-medium-down .top-bar,
.cbp-af-header.cbp-af-header-shrink .top-bar .top-bar-section li:not(.has-form) a:not(.button),
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: $header-shrink;
}
.cbp-af-header.cbp-af-header-shrink .top-bar .title-area a {
	line-height: 48px;
}
.cbp-af-header.cbp-af-header-shrink .top-bar-section .has-dropdown > a:after {
	top: $header-shrink / 2;
}
.cbp-af-header .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	line-height: 3;
}
.cbp-af-header.cbp-af-header-shrink .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	line-height: 1.5;
}
.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}


/**
 * Off canvas
 */
.off-canvas-profile {
	margin: 20px 0 15px;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		display: block;
		margin-top: 5px;
		color: #fff;
		span {
			display: block;
			color: #999;
			font-size: 12px;
		}
	}
	.profile-avatar {
		margin: 0 auto;
		padding: 7px;
		width: 128px;
		border: solid 1px #444;
		border-radius: 64px;
		.avatar {
			border-radius: 64px;
		}
	}
}
