@charset "utf-8";
@import "settings";
@import "foundation";
@import "editor-style";
@import "parts";


#wrap, .imageHolder {
	display: none;
}


/**
 * グローバルメニュー
 */
.menu-icon {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	&:hover {
		color: #fff;
	}
}


/**
 * コンテンツ
 */
.content-wrap {
	background-color: #fff;
}

.imageHolder {
	background-color: #fff;
	img {
		z-index: -1;
	}
}
