@charset "utf-8";
@import "compass";
@import "media-queries";
@import "settings";
@import "foundation";
@import "editor-style";
@import "parts";

.no-touch .not_parallax {
	padding-top: $topbar-height;
}

/**
 * ヘッダーのパララックス
 */
.imageHolder {
	position: relative;
	background-color: #fff;
	img {
		z-index: -1;
	}
	.header-title {
		position: absolute;
		top: 50%;
		right: 7%;
		z-index: 10;
		width: 700px;
		color: #fff;
		.header-title-inner {
			padding: 0 20px;
			background-color: rgba(0,0,0,0.4);
			font-size: 100%;
		}
	}
}
.img-holder {
	position: relative;
	.header-title {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		margin: 0;
		padding: 10px;
		width: 100%;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
		font-size: 18px;
		.header-title-inner {
			width: 270px;
		}
	}
}


/**
 * コンテンツ
 */
.content-wrap {
	background-color: #fff;
}
