@import "settings";
@import "media-queries";

* {
	word-break: break-all;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	color: #333;
	line-height: 1.8;
}


.ff-smg {
	font-family: "Sorts Mill Goudy";
}
.bottom {
	@include max-screen(50em) {
		margin-bottom: 15px;
	}
	margin-bottom: 30px;
}
.bold {
	text-shadow: 1px 1px 1px #333, 1px 1px 0px #333;
	font-weight: normal;
}


.editor-area {
	/* =WordPress Core http://codex.wordpress.org/CSS
	-------------------------------------------------------------- */
	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	.alignright {
		float:right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone {
		margin: 5px 20px 20px 0;
	}

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.wp-caption {
		padding: 5px 3px 10px;
		max-width: 96%; /* Image does not overflow the content area */
		border: 1px solid #f0f0f0;
		background: #fff;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}

	.wp-caption img {
		margin: 0;
		padding: 0;
		max-width: 98.5%;
		width: auto;
		height: auto;
		border: 0 none;
	}

	.wp-caption p.wp-caption-text {
		margin: 0;
		padding: 0 4px 5px;
		font-size: 11px;
		line-height: 17px;
	}
} // .editor-area
