* {
  word-break: break-all;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #333;
  line-height: 1.8;
}

.ff-smg {
  font-family: "Sorts Mill Goudy";
}

.bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 50em) {
  .bottom {
    margin-bottom: 15px;
  }
}

.bold {
  text-shadow: 1px 1px 1px #333, 1px 1px 0px #333;
  font-weight: normal;
}

.editor-area .alignnone {
  margin: 5px 20px 20px 0;
}

.editor-area .aligncenter,
.editor-area div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.editor-area .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.editor-area .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.editor-area .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.editor-area a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.editor-area a img.alignnone {
  margin: 5px 20px 20px 0;
}

.editor-area a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.editor-area a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.editor-area .wp-caption {
  padding: 5px 3px 10px;
  max-width: 96%;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: center;
}

.editor-area .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.editor-area .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.editor-area .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.editor-area .wp-caption img {
  margin: 0;
  padding: 0;
  max-width: 98.5%;
  width: auto;
  height: auto;
  border: 0 none;
}

.editor-area .wp-caption p.wp-caption-text {
  margin: 0;
  padding: 0 4px 5px;
  font-size: 11px;
  line-height: 17px;
}